body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wrapper {
    width: 100%;
    height: 100%;
}
#barraTopo {
    background-color: #EEE;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barraTopo p {
    margin: 0px;
    padding: 5px;
}
div.titulo {
    background-color: #CCC;
    position: absolute;
    top: 50px;
    height: 30px;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
    text-align: center;
}
#tituloRoomGMS2 {
    left: 0px;
    width: 200px;
}
#tituloTilesetGMS2 {
    left: 202px;
    width: 200px;
}
#tituloTiled {
    right: 0px;
    width: 200px;
}
div.titulo img {
    vertical-align: middle;
}
div.barra {
    background-color: #DDD;
    position: absolute;
    top: 80px;
    height: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
}
#barraRoomGMS2 {
    left: 0px;
    width: 200px;
}
#barraTilesetGMS2 {
    left: 202px;
    width: 200px;
}
#barraTiled {
    right: 0px;
    width: 200px;
}
div.barra p {
    margin: 0px;
    padding: 5px;
}
div.barra div {
    border: 1px outset #EEE;
}
div.barra div.outraLayer {
    background-color: #CCC;
    color: #888;
}
div.barra div.tileLayer {
    background-color: #a3ecec;
    cursor: pointer;
}
div.barra div.tileSelecionada {
    background-color: #83Fc83;
}
div.barra div.alerta {
    background-color: #F88;
    font-weight: bold;
    border: 5px #FF0 solid;
    text-align: center;
}
div.barra div p {
    margin: 0px;
    padding: 0px 5px;
}
div.barra div p.tipoLayer {
    color: #888;
    font-size: 10px;
    padding: 0px;
}
#barraMapaTiles {
    background-color: #EEE;
    width: calc(100% - 222px - 204px);
    height: calc(100% - 222px);
    position: absolute;
    top: 50px;
    left: 202px;
    border: 1px inset #BBB;
    overflow: scroll;
    padding: 10px;
}
#barraMapaTiles div.mapaTiles {
    background-color: #FFF;
    display: inline-grid;
}
#barraMapaTiles div.mapaTiles div {
    font-size: 10px;
    border: 1px solid #EEE;
}
#barraStatus {
    background-color: #CCC;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    list-style: square inside;
}
#barraStatus p {
    margin: 5px;
    padding: 5px;
    background-color: #D8D8D8;
    font-size: 12px;
    display: list-item;
}
#barraStatus p.info {
    background-color: #A8D8F8;
}
#barraStatus p.aviso {
    background-color: #F8B838;
}
#barraStatus p.erro {
    background-color: #F83838;
}
#barraStatus p.ok {
    background-color: #38F838;
}
#barraRodape {
    background-color: #EEE;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#barraRodape button {
    margin: 5px;
}
